.gradle/
build/
out/
!gradle/wrapper/gradle-wrapper.jar
*.class
*.log
hs_err_pid*
run/
logs/
crash-reports/
natives/
generated/
.idea/
*.iml
*.ipr
*.iws
out/
.project
.classpath
.settings/
.vscode/
.DS_Store
Thumbs.db